LogicApp/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_VMRay_Defender_Alerts_name": {
            "defaultValue": "VMRay-Defender-Alerts",
            "type": "String"
        },
        "sites_blueoceans56_externalid": {
            "defaultValue": "/subscriptions/7356a8d4-94f5-4210-a777-f4d6329e1c71/resourceGroups/Cognyte-Resource-Group/providers/Microsoft.Web/sites/blueoceans56",
            "type": "String"
        },
        "connections_wdatp_2_externalid": {
            "defaultValue": "/subscriptions/7356a8d4-94f5-4210-a777-f4d6329e1c71/resourceGroups/VMRay/providers/Microsoft.Web/connections/wdatp-2",
            "type": "String"
        },
        "connections_office365_1_externalid": {
            "defaultValue": "/subscriptions/7356a8d4-94f5-4210-a777-f4d6329e1c71/resourceGroups/VMRay/providers/Microsoft.Web/connections/office365-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_VMRay_Defender_Alerts_name')]",
            "location": "northcentralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "VMRay Base URL": {
                            "defaultValue": "https://us.cloud.vmray.com",
                            "type": "String"
                        },
                        "VMRay API Key": {
                            "defaultValue": "************",
                            "type": "SecureString"
                        },
                        "Resubmit": {
                            "defaultValue": true,
                            "type": "Bool"
                        },
                        "Azure Client ID": {
                            "defaultValue": "Azure Client ID",
                            "type": "String"
                        },
                        "Azure Client Secret": {
                            "defaultValue": "Azure Client Secret",
                            "type": "SecureString"
                        },
                        "Azure Tenant ID": {
                            "defaultValue": "AzureTenantID",
                            "type": "String"
                        },
                        "Azure Subscription ID": {
                            "defaultValue": "AzureSubscriptionID",
                            "type": "String"
                        },
                        "App Insights Workspace Resource ID": {
                            "defaultValue": "AppInsightsWorkspaceResourceID",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Triggers_-_Trigger_when_new_WDATP_alert_occurs": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "body": {
                                    "clientState": "flow",
                                    "changeType": "created",
                                    "resource": "alerts",
                                    "expirationDateTime": "2038-09-20T12:00:00Z",
                                    "notificationUrl": "@listCallbackUrl()"
                                },
                                "path": "/subscriptions"
                            }
                        }
                    },
                    "actions": {
                        "Defender_Alert_ID": {
                            "runAfter": {
                                "Logic_App_Run_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "defender_alert_id",
                                        "type": "string",
                                        "value": "@triggerBody()?['id']"
                                    }
                                ]
                            }
                        },
                        "Defender_Machine_ID": {
                            "runAfter": {
                                "Defender_Alert_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "defender_machine_id",
                                        "type": "string",
                                        "value": "@triggerBody()?['machineId']"
                                    }
                                ]
                            }
                        },
                        "Alerts_-_Get_single_alert": {
                            "runAfter": {
                                "Defender_AntiVirus_String": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/api/alerts/@{encodeURIComponent(variables('defender_alert_id'))}"
                            }
                        },
                        "Defender_Alert_Source": {
                            "runAfter": {
                                "Defender_Machine_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "defender_alert_source",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Set_Defender_Alert_Source": {
                            "runAfter": {
                                "Alerts_-_Get_single_alert": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "defender_alert_source",
                                "value": "@body('Alerts_-_Get_single_alert')?['detectionSource']"
                            }
                        },
                        "Check_if_the_alert_is_from_AV_or_EDR": {
                            "actions": {
                                "blueoceans56-VMRayDefender_1": {
                                    "type": "Function",
                                    "inputs": {
                                        "body": {
                                            "alert": "@triggerBody()",
                                            "threat_name": "@body('Alerts_-_Get_single_alert')['threatName']"
                                        },
                                        "function": {
                                            "id": "[concat(parameters('sites_blueoceans56_externalid'), '/functions/VMRayDefender')]"
                                        }
                                    }
                                },
                                "Send_an_email_(V2)": {
                                    "runAfter": {
                                        "blueoceans56-VMRayDefender_1": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "To": "smishra@loginsoft.com",
                                            "Subject": "VMRay Analysis Details for Defender Alert @{variables('defender_alert_id')}",
                                            "Body": "<p class=\"editor-paragraph\">Hello There,</p><br><p class=\"editor-paragraph\">Please find VMRay Analysis Details for Defender Alert @{variables('defender_alert_id')} below.</p><br><p class=\"editor-paragraph\">Logic App Run ID: @{variables('logic_app_run_id')}</p><br><p class=\"editor-paragraph\">@{body('blueoceans56-VMRayDefender_1')}</p>",
                                            "Importance": "Normal"
                                        },
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Set_Defender_Alert_Source": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@variables('defender_alert_source')",
                                            "@variables('defender_edr_string')"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@variables('defender_alert_source')",
                                            "@variables('defender_av_string')"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Defender_EDR_Source_string": {
                            "runAfter": {
                                "Defender_Alert_Source": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "defender_edr_string",
                                        "type": "string",
                                        "value": "WindowsDefenderAtp"
                                    }
                                ]
                            }
                        },
                        "Defender_AntiVirus_String": {
                            "runAfter": {
                                "Defender_EDR_Source_string": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "defender_av_string",
                                        "type": "string",
                                        "value": "WindowsDefenderAv"
                                    }
                                ]
                            }
                        },
                        "Logic_App_Run_ID": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "logic_app_run_id",
                                        "type": "string",
                                        "value": "@workflow().run.name"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "VMRay API Key": {},
                    "Azure Client Secret": {},
                    "$connections": {
                        "value": {
                            "wdatp": {
                                "id": "/subscriptions/7356a8d4-94f5-4210-a777-f4d6329e1c71/providers/Microsoft.Web/locations/northcentralus/managedApis/wdatp",
                                "connectionId": "[parameters('connections_wdatp_2_externalid')]",
                                "connectionName": "wdatp-2"
                            },
                            "office365": {
                                "id": "/subscriptions/7356a8d4-94f5-4210-a777-f4d6329e1c71/providers/Microsoft.Web/locations/northcentralus/managedApis/office365",
                                "connectionId": "[parameters('connections_office365_1_externalid')]",
                                "connectionName": "office365-1"
                            }
                        }
                    }
                }
            }
        }
    ]
}